<ol id='menu-id-articles-0' class='menu menu-level0 show '>
  <li id='menu-item-articles-1' class='menu-item '>
    <span class='menu-item-row'><a href='/HexView/articles/' class='menu-link  '>Articles</a></span>  </li>
  <li id='menu-item-articles-2' class='menu-item '>
    <span class='menu-item-row'><a href='/HexView/articles/getting-started/' class='menu-link  '>Getting Started</a><a href='#menu-id-articles-2' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-2' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-2' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-3' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/getting-started/overview/' class='menu-link  '>Overview</a></span>    </li>
    <li id='menu-item-articles-4' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/getting-started/installation/' class='menu-link  '>Installation</a></span>    </li>
    <li id='menu-item-articles-5' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/getting-started/quickstart-control/' class='menu-link  '>Quickstart Control</a></span>    </li>
    <li id='menu-item-articles-6' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/getting-started/quickstart-sample/' class='menu-link  '>Quickstart Sample</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-7' class='menu-item '>
    <span class='menu-item-row'><a href='/HexView/articles/concepts/' class='menu-link  '>Concepts</a><a href='#menu-id-articles-7' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-7' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-7' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-8' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/concepts/architecture-and-data-flow/' class='menu-link  '>Architecture and Data Flow</a></span>    </li>
    <li id='menu-item-articles-9' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/concepts/overlay-and-editing-model/' class='menu-link  '>Overlay and Editing Model</a></span>    </li>
    <li id='menu-item-articles-10' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/concepts/formatting-and-rendering/' class='menu-link  '>Formatting and Rendering</a></span>    </li>
    <li id='menu-item-articles-11' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/concepts/glossary/' class='menu-link  '>Glossary</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-12' class='menu-item '>
    <span class='menu-item-row'><a href='/HexView/articles/guides/' class='menu-link  '>Guides</a><a href='#menu-id-articles-12' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-12' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-12' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-13' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/guides/embedding-hexview-control/' class='menu-link  '>Embedding HexViewControl</a></span>    </li>
    <li id='menu-item-articles-14' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/guides/loading-files-and-readers/' class='menu-link  '>Loading Files and Readers</a></span>    </li>
    <li id='menu-item-articles-15' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/guides/search-navigation-and-selection/' class='menu-link  '>Search, Navigation, and Selection</a></span>    </li>
    <li id='menu-item-articles-16' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/guides/editing-and-save-workflows/' class='menu-link  '>Editing and Save Workflows</a></span>    </li>
    <li id='menu-item-articles-17' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/guides/annotations-and-diff-view/' class='menu-link  '>Annotations and Diff View</a></span>    </li>
    <li id='menu-item-articles-18' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/guides/styling-and-display-options/' class='menu-link  '>Styling and Display Options</a></span>    </li>
    <li id='menu-item-articles-19' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/guides/troubleshooting/' class='menu-link  '>Troubleshooting</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-20' class='menu-item '>
    <span class='menu-item-row'><a href='/HexView/articles/xaml/' class='menu-link  '>XAML Usage</a><a href='#menu-id-articles-20' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-20' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-20' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-21' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/xaml/overview/' class='menu-link  '>Overview</a></span>    </li>
    <li id='menu-item-articles-22' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/xaml/single-view-sample/' class='menu-link  '>Single View Sample</a></span>    </li>
    <li id='menu-item-articles-23' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/xaml/diff-view-sample/' class='menu-link  '>Diff View Sample</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-24' class='menu-item '>
    <span class='menu-item-row'><a href='/HexView/articles/advanced/' class='menu-link  '>Advanced</a><a href='#menu-id-articles-24' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-24' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-24' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-25' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/advanced/large-files-and-virtualization/' class='menu-link  '>Large Files and Virtualization</a></span>    </li>
    <li id='menu-item-articles-26' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/advanced/custom-readers-and-formatters/' class='menu-link  '>Custom Readers and Formatters</a></span>    </li>
    <li id='menu-item-articles-27' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/advanced/edit-journal-and-piece-table/' class='menu-link  '>Edit Journal and Piece Table</a></span>    </li>
    <li id='menu-item-articles-28' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/advanced/diagnostics-and-testing/' class='menu-link  '>Diagnostics and Testing</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-29' class='menu-item '>
    <span class='menu-item-row'><a href='/HexView/articles/reference/' class='menu-link  '>Reference</a><a href='#menu-id-articles-29' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-29' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-29' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-30' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/reference/api-coverage-index/' class='menu-link  '>API Coverage Index</a></span>    </li>
    <li id='menu-item-articles-31' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/reference/namespace-controls/' class='menu-link  '>Namespace HexView.Avalonia.Controls</a></span>    </li>
    <li id='menu-item-articles-32' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/reference/namespace-services/' class='menu-link  '>Namespace HexView.Avalonia.Services</a></span>    </li>
    <li id='menu-item-articles-33' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/reference/namespace-model/' class='menu-link  '>Namespace HexView.Avalonia.Model</a></span>    </li>
    <li id='menu-item-articles-34' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/reference/lunet-docs-pipeline/' class='menu-link  '>Lunet Docs Pipeline</a></span>    </li>
    <li id='menu-item-articles-35' class='menu-item '>
      <span class='menu-item-row'><a href='/HexView/articles/reference/license/' class='menu-link  '>License</a></span>    </li>
  </ol>
  </li>
</ol>
